
<h1>COMMENTS <%= button_to "NEW COMMENT", new_comment_path, method: :get %>
</h1>


<% @comments.each do |comment|%>
<br>
<br>
<%= link_to comment.picture.title, picture_path(comment.picture.id)%>

<br>
<br>
<img src='<%=comment.picture.image_url%>' alt='<%comment.picture.title%>'width = "200" height=auto/>
<br>
<br>
<%= comment.content%>
<br>
<%= button_to "delete comment", comment_path(comment),  method: :delete, data: {confirm: "Are you sure you want to delete this?"} %>
<br>
<br>
<%end%>  
<br>
<br>
<br>
<br>