<h1>Users#index</h1>
<%= button_to "NEW USER", new_user_path, method: :get %>
<%= button_to "NEW POST", new_picture_path, method: :get %>

<%= @users.each do |user|%>
<%=link_to user.name, user_path(user.id)%>
<br>
<%=user.username%>
<br>
<%=user.email%>
<br>
<%end%>