<h1><%=@user.name%></h1>
Username: <%=@user.username%>
<br>
Email: <%=@user.email%>
<br>
<%=button_to 'edit', edit_user_path(@user), method: :get %>
<%=button_to 'delete', user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete this?"}%>
<br>
<br>
<%= button_to "NEW POST", new_picture_path, method: :get %>
<br>
<% @user.pictures.all.each do |picture|%>
<%=picture.title%>
<br>
<img src= '<%=picture.image_url%>' alt= "<%picture.title%>" width= '200' height= 'auto'/>
<br>
<br>
<%end%>
<br>
<br>
