<!DOCTYPE html>
<html>
  <head>
    <title>Finstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="header">
  <%= image_tag "Finstagram.jpg", height: '25', width: 'auto' %> 

<br>
<a href = <%=users_path%>> <img alt="home" src="https://cdn0.iconfinder.com/data/icons/instagram-ui-1/24/Instagram-UI_home-512.png" height= 15 width=auto /> </a>
<a href = <%=pictures_path%>><img alt="pictures" src="https://www.lamar.edu/career-and-testing-services/_files/images/icons/iconfinder_90_compass_183404.png" height= 15 width=auto /> </a>
<a href = <%=tags_path%>><img alt="tags" src="https://icon-library.com/images/instagram-tag-icon/instagram-tag-icon-27.jpg" height= 15 width=auto /> </a>
<a href = <%=comments_path%>><img alt="comments" src="https://icon-library.com/images/instagram-comment-icon/instagram-comment-icon-15.jpg" height= 15 width=auto /> </a>

</div>

    <%= yield %>
  </body>
</html>
