<!DOCTYPE html>
<html>
  <head>
    <title>Finstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="header">
  <%= image_tag "Finstagram.jpg", height: '25', width: 'auto' %> 
</div>

    <%= yield %>
  </body>
</html>
